body {
    font-family: 'Helvetica', sans-serif;
    padding: 20px;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-user{
    color: red;
    margin-right: 20px;
    line-height: 50px;
    cursor: pointer;
}
